/* .testimonial_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    opacity: 0;
    transform: scale(0.8); 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.heading.visible {
    opacity: 1; 
    transform: scale(1);
}
 */


 .testimonial_container {
    height: 100vh;
    /* width: 100vw; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    text-align: center;
    transform: scale(0.8); 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.heading.visible {
    opacity: 1; 
    transform: scale(1);
}



/* .motion-path-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keeps the animation in the background 
} */

:root {
    --hue-6: rgb(119, 85, 152);
    --hue-6-transparent: rgb(203, 180, 225);
}


@media (max-width: 480px) {
.heading{
    font-size: 1.5rem;
    padding-top: 10px;
}
}